NODE_NAME=pktutil
LOGS_PATH=./logs/dkku/
# DEBUG, CRITICAL, ERROR
LOG_LEVEL=DEBUG
QPCAP_FILE_NAME=../../../../../Usagemoniter.pcap
PACKET_OUT_DEVICE_NAME=enp10s0
PACKET_OUT_ETH_SRC_ADD=b8ac6fcb499f
PACKET_OUT_ETH_DST_ADD=74e6e206889f
#PACKET_OUT_DEVICE_NAME=wlp2s0b1
#PACKET_OUT_ETH_SRC_ADD=ccaf784a739c
#PACKET_OUT_ETH_DST_ADD=303A64AD2479
PACKET_IN_DEVICE_NAME=
PACKET_IN_ETH_SRC_ADD=b8ac6fcb499f
PACKET_IN_ETH_DST_ADD=b8ac6fcb499f
PACKET_SEND_DISABLE=1
